beautifulsoup4==4.9.1
Flask
Flask_Cors
flask_openapi3
#flask_openapi3==2.1.0
Flask_SQLAlchemy
openai==0.27.5
pandas==2.0.0
pydantic==1.10.2
PyPDF2==3.0.1
Requests==2.29.0
SQLAlchemy==1.4.41
SQLAlchemy_Utils==0.38.3
logger
